<div class="dashboard-background" id="container">
  <div class="dashboard-wigetContainer">
    <div class="dashboard-wigetWrapper">
      <h3 id="day">Monday</h3>
      <p id="date">October 1, 2022</p>
    </div>
  </div>
  <div class="dashboard-appPageContainer">
    <% @projects.each do |project| %>
      <div class="dashboard-app-container">
        <%= link_to project.link, target: "_blank", class: "dashboard-app-wrapper" do %>
          <div class="dashboard-app" style="background-color: <%= project.theme_colour_first %>"></div>
          <div class="name-container">
            <span class="name"><%= project.name %></span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>
  const weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
  const months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
  const dayElement = document.getElementById("day");
  const dateElement = document.getElementById("date");
  const container = document.getElementById("container");
  let today = new Date();
  let day = today.getDay();
  let date = today.getDate();
  let month = today.getMonth();
  let year = today.getFullYear();
  dayElement.innerHTML = weekday[day];
  dateElement.innerHTML = months[month].concat(" ", date, ", ", year);
</script>
