<%# TODO: Fix the navigation to the top when scrolling 'sticky' I think. %>

<nav class="navigation-container">
  <div class="navigation-wrapper">
    <% @technologies.each do |technology| %>
      <%= link_to technology_path(technology.name) do %>
        <%= image_tag technology.icon, class: "nav-icon #{"nav-icon-active" if technology.name == params[:name] || @project&.technology_names&.include?(technology.name)}" %>
      <% end %>
    <% end %>
  </div>
</nav>
