<%= link_to technology_path(technology.name), class: "technology-container white-container", data: {"aos-center": "slow"} do %>
  <%# TODO Add for screen readers %>
  <p class="text-secondary"><b><%= technology.name.capitalize %></b></p>
  <%= image_tag technology.icon, class: "project-icon" %>
<% end %>
