<div class="project-featureShapeWrapper <%= "project-featureArt" if art %>">
  <%= image_tag "shapes/hexagon.svg", class: "project-featureShape" %>
  <h3 class="project-featureTitle"><%= title %></h3>
  <p class="project-featureDescription"><%= description %></p>
</div>
