<div class="project-featureShapeWrapper">
  <%= image_tag "shapes/hexagon.svg", class: "project-featureShape" %>
  <% if feature %>
    <h3 class="project-featureTitle"><%= feature.name %></h3>
    <p class="project-featureDescription"><%= feature.description %></p>
  <% end %>
</div>
