<div class="project-imageContainer-outer">
    <div class="project-imageContainer-inner">
      <div class="project-imageWrapper">
        <%= image_tag @project.logo || "example.png", class: "project-image" %>
      </div>
    </div>
  </div>
