<h1>Stats</h1>

<p>Score will decrease over time.</p>

<div class="row p-3">
  <% @flash_card_categories.each do |flash_card_category| %>
    <%= render partial: 'stat', locals: { category: flash_card_category } %>
  <% end %>
</div>
