:root {
  --flashCardCategoryColour: #000;
}

.quiz-directionContainer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.quiz-flashCardCategory-wrapper {
  background-color: #fff;
  border: solid rgb(226, 226, 226) 1px;
  border-radius: 4px;
  padding: 1rem;
  display: inline-block;
  cursor: pointer;
  width: 100%;
}

.quiz-flashCardContainer {
  position: relative;
}

.quiz-answerContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.quiz-flashCard-wrapper {
  background-image: url("quiz/sticky-note-colourless.png");
  background-size: cover;
  height: 390px;
  width: 380px;
  overflow-y: auto;
  padding: 1rem;
  padding-top: 3.5rem;
  margin: 1rem;
  position: relative;
  transition: 0s;
  filter: drop-shadow(2px 5px 4px #00000044);
  z-index: 1;
}

.quiz-flashCard-wrapper::before {
  top: 35px;
  left: 4px;
  position: absolute;
  content: " ";
  z-index: -1;
  width: 98%;
  height: 91%;
  background-color: var(--flashCardCategoryColour);
  opacity: 0.45;
}

.quiz-categoryText {
  text-align: right;
}

.quiz-correct {
  color: rgb(34, 224, 34);
}

.quiz-incorrect {
  color: rgb(242, 1, 1);
}

.quiz-flashCard-textContainer {
  height: 265px;
  overflow-y: auto;
}

.quiz-flashCard-answerCount {
  padding-top: 1.5rem;
}
