.quiz-directionContainer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.quiz-flashCardCategory-wrapper {
  background-color: #fff;
  border: solid rgb(226, 226, 226) 1px;
  border-radius: 4px;
  padding: 1rem;
  display: inline-block;
  cursor: pointer;
  width: 100%;
}

.quiz-flashCardContainer {
  position: relative;
}

.quiz-answerContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.quiz-flashCard-wrapper {
  background-image: url("quiz/sticky-note-colourless.png");
  background-size: cover;
  min-height: 390px;
  max-width: 380px;
  padding: 1rem;
  padding-top: 6rem;
  margin: 1rem;
  position: relative;
  transition: 0;
  z-index: 1;
}

.quiz-flashCard-wrapper::before {
  top: 35px;
  left: 4px;
  position: absolute;
  content: " ";
  z-index: -1;
  width: 98%;
  height: 91%;
  background-color: rgb(255 0 0 / 45%);
}

.quiz-answer {
  font-size: 1.5rem;
}

.quiz-correct {
  color: rgb(34, 224, 34);
}

.quiz-incorrect {
  color: rgb(242, 1, 1);
}
