.quiz-flashCardCategory-wrapper {
  background-color: #fff;
  border: solid rgb(226, 226, 226) 1px;
  border-radius: 4px;
  padding: 1rem;
  margin: 1rem;
  display: inline-block;
  cursor: pointer;
}

.quiz-flashCard-wrapper {
  background-color: #fff;
  border: solid rgb(226, 226, 226) 1px;
  border-radius: 4px;
  padding: 1rem;
  margin: 1rem;
  position: relative;
}
