<h2>Flash Card Categories</h2>

<% @flash_card_categories.each do |category| %>
  <%= link_to quiz_flash_card_categories_play_path(category), class: "quiz-flashCardCategory-wrapper" do %>
    <h5><%= category.name %></h5>
  <% end %>
<% end %>
