.admin-technologyOptionsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.admin-technologyOptionsContainer input {
  margin: 0;
}

.admin-technologyOptionsContainer .form-group {
  margin: 0;
}

.admin-technologyOptionsContainer img {
  width: 40px;
}
