.large-textarea {
  height: 70vh !important
}

.admin-technologyOptionsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.admin-technologyOptionsContainer input {
  margin: 0;
}

.admin-technologyOptionsContainer .form-group {
  margin: 0;
}

.admin-technologyOptionsContainer img {
  width: 40px;
}

.admin-iconsContainer {
  margin: auto;
  width: 320px;
  height: 200px;
  overflow-y: scroll;
  border: solid rgb(69, 69, 69) 1px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.admin-iconWrapper {
  display: flex;
  flex-direction: column;
  border: solid rgb(231, 231, 231) 1px;
  padding: 0.5rem;
  display: flex;
  cursor: pointer;
  margin-bottom: 0;
  position: relative;
}

.admin-iconWrapper:hover {
  background-color: rgb(227, 227, 227);
}

.admin-iconWrapper:hover .admin-iconToolTip {
  display: inline-block;
}

.admin-iconWrapper input[type='radio'] {
  display: none;
  margin: auto;
}

.admin-iconWrapper input[type='radio']:checked {
  background-color: red;
}

.admin-iconWrapper img {
  width: 30px;
  display: block;
  margin: auto;
}

.admin-iconWrapperActive {
  background-color: rgb(227, 227, 227);
}

.admin-iconsDisplay {
  width: 320px;
  margin: auto;
  border: solid 1px black;
  border-top: none;
  padding: 0.2rem;
}

.admin-iconsDisplay p {
  padding: 0.25rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.flashCardCategoryAdmin-container {
  border-left: solid grey 1px;
  margin-left: 0.5rem;
  padding: 1rem;
  padding-right: 0;
}

.flashCardCategoryAdmin-titleContainer {
  display: flex;
  justify-content: space-between;
}

.flashCardCategoryAdmin-titleWrapper {
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem;
}

.flashCardCategoryAdmin-wrapper {
  margin-left: 0.2rem;
  position: relative;
}

.flashCardCategoryAdmin-wrapper::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 2px;
  border-bottom: 1px solid grey;
  position: absolute;
  left: -18px;
  top: 19px;
}

.flashCardCategoryAdmin-wrapper::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: white;
  border: solid grey 1px;
  border-radius: 50%;
  position: absolute;
  left: -25px;
  top: 16px;
}

.flashCardCategoryAdmin-categoryWrapper {
  padding: 0.5rem;
  border: solid grey 1px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.01);
  background-color: #fff;
  border-radius: 0 0.5rem 0.5rem 0;
}

.progress {
  height: 0.6rem;
  font-size: 0.75rem;
  font-weight: 800;
}

.category-icon {
  width: 30px;
  height: 30px;
  margin-left: 0.5rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .flashCardCategoryAdmin-container {
    margin-left: 2rem;
  }
  .flashCardCategoryAdmin-wrapper {
    margin-left: 1rem;
  }
  .flashCardCategoryAdmin-wrapper::before {
    width: 32px;
    left: -32px;
  }
  .flashCardCategoryAdmin-wrapper::after {
    left: -37px;
  }
}
