.homeHeader-container {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  min-height: 750px;
  position: relative;
}

.homeHeader-container::after {
  z-index: -2;
  content: "";
  display: inline-block;
  position: absolute;
  width: 140vw;
  height: 720px;
  background-color: #000000;
  transform: rotate(-3deg) translateY(-197px);
}

.home-technologiesContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home-technologyTypeName {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.homeHeader-textContainer {
  width: 100%;
}

.homeHeader-text {
  padding: 1rem 0;
}

.homeHeader-featureContainer {
  display: none;
  width: 100%;
}

.callToAction-buttonMain {
  white-space: nowrap;
  display: inline-block;
  padding: 1rem;
  background-color: #fa3c3c;
  color: #fff;
  font-weight: 600;
  border: solid #c12222 1px;
  border-radius: 50px;
  margin-right: 1rem;
  transition: 0.2s;
}

.callToAction-buttonMain:hover {
  color: #fa3c3c;
  background-color: #fff;
  transform: scale(1.09);
}

.callToAction-buttonSecondary {
  white-space: nowrap;
  display: inline-block;
  padding: 1rem;
  background-color: #ffffff;
  color: #ea4638;
  font-weight: 600;
  border: solid #c12222 1px;
  border-radius: 50px;
  margin-right: 1rem;
  transition: 0.2s;
}

.callToAction-buttonSecondary:hover {
  color: #fff;
  background-color: #fa3c3c;
  transform: scale(1.09);
}

.welcome-text {
  color: #fff;
  font-size: 3rem;
  margin-top: 3rem;
}

.home-buttonsContainer {
  display: flex;
  justify-content: flex-start;
}

.firework-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.firework-button {
  transition: 0.2s;
  border-radius: 50px;
  background-color: rgb(0, 0, 0);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #fff 2px;
  display: none;
}

.firework-button img {
  width: 70%;
  height: 70%;
}

.homeFeature-canvas {
  top: 0;
  position: absolute;
  z-index: -1;
  display: none;
}

.home-projectImage {
  filter: drop-shadow(5px 30px 18px rgba(0,0,0,0.2));
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
  padding: 0 1rem;
  padding-top: 2rem;
  padding-bottom: 16rem;
  transition: 1s;
}

.home-projectsSection {
  margin-top: 5.5rem;
  padding: 6rem 0;
  background-color: #fff;
  z-index: -1;
}

.home-projectsContainer {
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.05);
  height: auto;
  display: block;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.home-projectWrapper {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 500px;
  border-right: none;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.home-projectWrapper::before {
  z-index:0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(255,255,255,0) 50%);
}

.home-projectWrapper:last-child {
  border: none;
}

.home-projectWrapper h5 {
  color: #fff;
  display: inline-block;
  width: 200px;
  white-space: nowrap;
}

.home-projectTheme {
  border: solid 1px rgb(0, 0, 0);
  border-radius: 23px;
  height: 12px;
  width: 12px;
  margin: 0.5rem;
  margin-right: 0;
  display: inline-block;
}

.home-projectLogo {
  padding: 1rem;
  height: 130px;
  border-bottom: solid #e1e1e1 1px;
}

.home-projectInfoWrapper {
  padding: 1rem;
  padding-top: 0;
  position: absolute;
  bottom: 45px;
  height: 185px;
  width: 100%;
}

.project-closed {
  width: 100%;
}

.home-projectTheme {
  transition: 0.4s;
}

.home-projectWrapper h5 {
  transition: 0.6s;
}

.home-projectSubTitle {
  color: rgb(255, 255, 255);
  transition: 0.8s;
}

.home-projectIcon {
  width: 20px;
}

.home-projectWrapper,
.home-projectWrapper .secondary-button,
.home-projectWrapper .main-button
{
  transition: 1s;
}

.home-projectTechContainer {
  margin-top: 1rem;
  transition: 1.2s;
}



.project-open {
  box-shadow: 0 0 25px 0 rgba(30, 30, 30, var(--shadow-opacity));
  width: 100%;
  cursor: default;
}

/* desktop view */

@media screen and (min-width: 768px) {
  .project-closed .home-projectImage {
    filter: drop-shadow(5px 30px 18px rgba(0,0,0,0));
    padding: 1rem;
  }

  .project-closed .home-projectTheme,
  .project-closed p,
  .project-closed .home-projectTechContainer,
  .project-closed .secondary-button,
  .project-closed .main-button,
  .project-closed h5 {
    transform: translateY(400px);
  }

  .project-closed .home-projectLogo {
    padding: 10px;
    height: 50px;
  }

  .project-closed h5 {
    font-size: 1rem;
  }

  .home-projectWrapper {
    margin-bottom: 0;
  }
  .homeHeader-featureContainer {
    display: block;
  }
  .homeFeature-canvas {
    display: block;
  }
  .firework-button {
    display: flex;
  }
  .welcome-text {
    font-size: 5rem;
  }
  .home-technologiesContainer {
    justify-content: flex-start;
  }
  .home-technologyTypeName {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .home-projectImage {
    padding: 1rem 15%;
    padding-bottom: 16rem;
    transition: 1s;
  }
  .home-projectsContainer {
    display: flex;
    height: 500px;
  }
  .home-projectWrapper {
    height: 100%;
    border-right: solid #fff 5px;
    border-radius: 0;
  }
  .project-closed {
    width: 100%;
    height: 100%;
  }
  .project-closed .home-projectImage {
    padding: 2rem;
  }
  .project-open {
    width: 300%;
  }
}
