.homeHeader-container {
  display: flex;
  justify-content: center;
  min-height: 750px;
  padding: 2rem 0;
  position: relative;
}

.homeHeader-container::after {
  z-index: -1;
  content: "";
  display: inline-block;
  position: absolute;
  width: 109vw;
  height: 801px;
  background-color: #000000;
  transform: rotate(-7deg) translateY(-197px);
}

.homeHeader-textContainer {
  width: 100%;
  padding: 4rem 0;
}

.homeHeader-text {
  padding: 1rem 0;
}

.homeHeader-featureContainer {
  width: 100%;
}

.callToAction-buttonMain {
  display: inline-block;
  padding: 1rem;
  background-color: #fa3c3c;
  color: #fff;
  font-weight: 600;
  border: solid #c12222 1px;
  border-radius: 50px;
  margin-right: 1rem;
  transition: 0.2s;
}

.callToAction-buttonMain:hover {
  color: #fa3c3c;
  background-color: #fff;
  transform: scale(1.09);
}

.callToAction-buttonSecondary {
  display: inline-block;
  padding: 1rem;
  background-color: #ffffff;
  color: #ea4638;
  font-weight: 600;
  border: solid #c12222 1px;
  border-radius: 50px;
  margin-right: 1rem;
  transition: 0.2s;
}

.callToAction-buttonSecondary:hover {
  color: #fff;
  background-color: #fa3c3c;
  transform: scale(1.09);
}

.welcome-text {
  color: #fff;
  font-size: 5rem;
  margin-top: 3rem;
}
