.navigation-container {
  display: flex;
  justify-content: center;
  border-bottom: solid grey 1px;
  padding: 0.3rem;
  background-color: #fff;
}

.navigation-wrapper {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


@media screen and (min-width: 768px) {
  .navigation-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .navigation-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.nav-icon {
  width: 28px;
  margin: 0.37rem;
  transition: 0.25s;
  filter: grayscale(1);
}

.nav-icon-active {
  transform: scale(1.5);
  filter: grayscale(0);
}

.nav-icon:hover {
  transform: scale(1.5);
  cursor: pointer;
  filter: grayscale(0);
}
