.nav-link {
  margin: 0.5rem;
  padding: 0.3rem 0.7rem;
  font-weight: 600;
  font-size: 1.1rem;
  border: solid #d5d5d5 1px;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  transition: 0.2s;
}

.nav-link img {
  width: 30px;
}

.nav-iconLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-iconLink:hover .nav-link {
  transform: scale(1.05);
  color: #000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.navigation-linksContainer {
  display: flex;
  justify-content: center;
  border-bottom: solid #e4e4e8 1px;
  padding: 0.3rem;
  background-color: rgba(255,255,255,0.7);
  backdrop-filter: blur(27px);
}

.navigation-container {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  border-bottom: solid #e4e4e8 1px;
  padding: 0.3rem;
  background-color: rgba(255,255,255,0.7);
  backdrop-filter: blur(27px);
}

.navigation-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-icon {
  width: 28px;
  margin: 0.37rem;
  transition: 0.25s;
  filter: grayscale(1);
  opacity: 0.3;
}

.nav-icon-active {
  transform: scale(1.5);
  filter: grayscale(0);
  opacity: 1;
}

.nav-iconLink:hover .nav-icon {
  transform: scale(1.5);
  cursor: pointer;
  filter: grayscale(0);
  opacity: 1;
}
