.navigation-container {
  display: flex;
  justify-content: center;
  border-bottom: solid grey 1px;
  padding: 0.3rem;
}

.nav-icon {
  width: 27px;
  margin: 0.3rem;
  transition: 0.25s;
  filter: grayscale(1);
}

.nav-icon-active {
  transform: scale(1.4);
  filter: grayscale(0);
}

.nav-icon:hover {
  transform: scale(1.4);
  cursor: pointer;
  filter: grayscale(0);
}
