.project-landingContainer {
  margin: 0;
  margin-top: 10rem;
}

.projectMain-container {
  background-color: white;
  max-width: 1250px;
  width: 100%;
  padding: 2rem;
}

.project-count {
  font-family: 'Inspiration', 'cursive';
  font-size: 75px;
}

.project-title {
  text-align: center;
  margin-bottom: 2rem;
}

.project-logo {
  width: 70px;
  margin-right: 0.75rem;
}

.project-pageContainer {
  display: flex;
  justify-content: center;
}

.project-image {
  padding: 0.5rem;
  padding-left: 0;
  object-fit: contain;
  height: 100%;
  width: 50px;
}

.project-subtitle {
  font-size: 1.3rem;
  font-weight: 800;
}

.project-sectionWrapper {
  width: 100%;
}

.project-imageContainer-outer {
  display: inline-block;
  padding: 0.45rem;
  border: dashed 3px #000;
  border-radius: 8rem;
}

.project-imageContainer-inner {
  display: inline-block;
  padding: 0.75rem;
  border: dashed 3px #000;
  border-radius: 8rem;
}

.project-imageWrapper {
  height: 180px;
  width: 180px;
  overflow: hidden;
  border-radius: 1rem;
}

.project-icon {
  width: 30px;
}

.project-technologiesContainer {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin-top: 2rem;
}

.technology-container {
  padding: 0.4rem;
  margin: 0.25rem;
  max-width: 65px;
  min-width: 65px;
}

.technology-container:hover {
  transition: 0.2s !important;
  transform: scale(1.2) !important;
}

.technology-container p {
  font-size: 0.6rem;
  text-align: center;
  margin: 0;
}

.technology-container img {
  display: block;
  margin: auto;
}

.projectNavigation-container {
  display: flex;
  justify-content: center;
}

.projectNavigation-link {
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.65);
  margin: 1.5rem;
  border: solid rgb(122, 122, 122) 1px;
  filter: grayscale(1);
}

.projectNavigation-logo {
  display: block;
  margin: auto;
  width: 70%;
}

.projectNavigation-linkActive {
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  border: solid rgb(122, 122, 122) 1px;
  transform: scale(1.3);
  filter: grayscale(0);
}

.projectNavigation-linkWrapper:hover .projectNavigation-link {
  cursor: pointer;
  transform: scale(1.3);
}

.large-backgroundIcon {
  position: absolute;
  top: 250px;
  right: 22vw;
  opacity: 0.05;
  filter: grayscale(1);
  z-index: -1;
  height: 380px;
}

.projectSection-technologyWrapper {
  margin: 0;
  display: block;
}

.projectSection-technologyWrapper img {
  width: 22px;
  margin-right: 5px;
}

.project-imagesContainer {
  position: relative;
  height: 450px;
  width: 450px;
}

.project-imageSmall {
  width: 174px;
  height: 161px;
  top: 119px;
  left: 0;
  position: absolute;
  padding: 1rem;
}

.project-imageMedium {
  width: 192px;
  height: 189px;
  top: 0;
  right: 62px;
  position: absolute;
  padding: 1rem;
}

.project-imageLarge {
  width: 254px;
  height: 238px;
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 1rem;
}

.project-planslist dd {
  color: rgb(104, 104, 104);
}

/* new design */

.project-name {
  font-size: 2.4rem;
  display: flex;
  justify-content: flex-start;
}

.project-sectionContainer {
  display: block;
  padding: 1rem;
  height: 100%;
  margin-bottom: 1rem;
  background-color: rgba(255,255,255,0.7) !important;
}

.themeWrapper {
  border: solid 1px grey;
  border-radius: 23px;
  height: 30px;
  margin-bottom: 0.5rem;
  width: 30px;
  display: inline-block;
}

.projects-technologiesContainer {
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* design ux ui / plans */

.project-uxGithubContainer {
  margin-top: 1rem;
  display: block;
  justify-content: center;
}

.project-uxGithubWrapper {
  width: 100%;
  padding: 2rem;
  margin-bottom: 1rem;
}

.project-uxGithubWrapper:first-child {
  margin-right: 1rem;
}

.project-uxGithubIcon {
  width: 50px;
  margin-bottom: 1rem;
}

.project-uxGithubTitle {
  margin: 1rem 0;
}

.project-uxGithubText {
  color: rgb(136, 136, 136);
}

.project-featureTechnology {
  width: 20px;
}

/* Features */

.project-featuresContainer {
  position: relative;
  right: 185px;
  margin-bottom: 8rem;
}

.project-featureShapeWrapper {
  display: inline-block;
  text-align: center;
  padding: 3rem;
  position: relative;
  width: 350px;
  transition: 2.5s;
  height: 350px;
  opacity: 0;
  margin-right: 243px;
}

.project-featureTitle {
  margin-bottom: 1.5rem;
}

.project-featureDescription {
  white-space: break-spaces;
}

.project-featuresWrapper {
  height: 340px;
  width: 340px;
}

.project-featuresRow {
  white-space: nowrap;
}

.project-featureShape {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transition: 2.5s;
  filter: drop-shadow(5px 7px 17px rgba(0,0,0,0.0));
}

.project-featuresRowOffSet {
  white-space: nowrap;
  position: relative;
  bottom: 182px;
  left: -300px;
}

.project-featureShapeOpen {
  filter: drop-shadow(5px 7px 17px rgba(0,0,0,0.06));
  opacity: 1;
}

.project-featuresContainer .project-featureArt {
  opacity: 0.5;
}

.project-featuresContainer .project-featureArt {
  color: transparent;
}

@media screen and (min-width: 768px) {
  .project-uxGithubContainer {
    display: flex;
  }

  .project-uxGithubWrapper {
    margin-bottom: 0rem;
  }

  .project-name {
    font-size: 3rem;
  }
}
