.project-title {
  text-align: center;
  margin-bottom: 2rem;
}

.project-pageContainer {
  display: flex;
  justify-content: center;
}

.project-image {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.project-sectionWrapper {
  width: 100%;
}

.project-imageContainer {
  display: inline-block;
  padding: 1rem;
  border: solid grey 1px;
  border-radius: 1rem;
}

.project-imageWrapper {
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 1rem;
}

.project-icon {
  width: 30px;
}


.project-technologiesContainer {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin-top: 2rem;
}

.technology-container {
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: solid grey 1px;
  background-color: #fff;
  box-shadow: 0 0 9px 0 rgba(0,0,0,0.1);
  width: 70px;
  margin: 0 0.25rem;
}

.technology-container p {
  font-size: 0.6rem;
  text-align: center;
  margin: 0;
}

.technology-container img {
  display: block;
  margin: auto;
}
