.projectMain-container {
  background-color: white;
  max-width: 1250px;
  width: 100%;
  padding: 2rem;
}

.project-count {
  font-family: 'Inspiration', 'cursive';
  font-size: 75px;
}

.project-title {
  text-align: center;
  margin-bottom: 2rem;
}

.project-pageContainer {
  display: flex;
  justify-content: center;
}

.project-image {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.project-sectionWrapper {
  width: 100%;
}

.project-imageContainer-outer {
  display: inline-block;
  padding: 0.45rem;
  border: dashed 4px #000;
  border-radius: 8rem;
  transition: 2s;
}

.project-imageContainer-inner {
  display: inline-block;
  padding: 1.5rem;
  border: dashed 4px #000;
  border-radius: 8rem;
  transition: 2s;
}

.project-imageWrapper {
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 1rem;
}

.project-icon {
  width: 30px;
}

.project-technologiesContainer {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin-top: 2rem;
}

.technology-container {
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: solid #d6d6d6 1px;
  background-color: #fff;
  box-shadow: 0 0 9px 0 rgba(0,0,0,0.1);
  width: 70px;
  margin: 0 0.25rem;
}

.technology-container:hover {
  transition: 0.2s !important;
  transform: scale(1.2) !important;
}

.technology-container p {
  font-size: 0.6rem;
  text-align: center;
  margin: 0;
}

.technology-container img {
  display: block;
  margin: auto;
}

.projectNavigation-container {
  display: flex;
  justify-content: center;
}

.projectNavigation-link {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: black;
  margin: 1.5rem;
}

.projectNavigation-linkActive {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: solid #000 1px;
  transform: scale(1.2);
}

.projectNavigation-linkWrapper:hover .projectNavigation-link {
  cursor: pointer;
  transform: scale(1.2);
}

.large-backgroundIcon {
  position: absolute;
  top: 250px;
  right: 22vw;
  opacity: 0.05;
  filter: grayscale(1);
  z-index: -1;
  height: 380px;
}

.projectSection-technologyWrapper {
  margin: 0;
  display: block;
}

.projectSection-technologyWrapper img {
  width: 22px;
  margin-right: 5px;
}
