body {
  background-color: rgb(248, 248, 250);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
    font-family: 'Abril Fatface', cursive;
}

h1 {
    font-size: 2.2rem;
}

.text-lightGrey {
    color: #d5d5d5;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
}


/* title */

.sub-title {
    position: relative;
    bottom: 15px;
    right: 20px;
    width: auto;
    display: inline-block;
    color: rgb(130, 130, 146);
    float: right;
}

form {
    display: block;
    margin-top: 0em;
}

legend {
    width: auto;
    box-sizing: border-box;
    display: inline-block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    font-size: 20px;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 1px;
    border-style: solid;
    border-color: #02222a;
    border-image: initial;
    border-radius: 4px;
    box-shadow: 0 3px 4px 0 rgba(98, 152, 167, 0.08), 0 17px 50px 0 rgba(25, 62, 72, 0.05);
}

.button {
    color: white;
    background-color: #3792a9;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-family: 'Caladea', serif;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 3px;
    border: #3792a9 solid 1px;
}

.button-not-finsihed {
    color: white;
    background-color: #eb5833;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-family: 'Caladea', serif;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 3px;
    border: #eb5833 solid 1px;
}

.button:hover {
    background-color: rgb(248, 250, 250);
    color: #3792a9;
    border: solid black 1px;
    text-decoration: none;
}


/* footer */

footer {
    border-top: solid rgb(205, 205, 215) 1px;
    background: -webkit-linear-gradient(rgb(238, 238, 242), rgb(248, 248, 252));
}

.colour-facebook {
    color: #4267B2;
}

.colour-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.colour-twitter {
    color: #38A1F3;
}
