.technologyType-container {
  min-height: 450px;
}

.feature-container {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: solid grey 1px;
  border-radius: 5px;
}

.feature-container p {
  margin: 0;
}

.feature-container b {
  float: right;
}

.feature-icon {
  width: 20px;
}

.technologyShow-projectContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.2rem 0.2rem;
  background-color: rgba(0,0,0,0.03);
  border-top: solid rgb(0, 0, 0) 1px;
}

.technologyShow-projectContainer:nth-child(odd) {
  background-color: rgba(255,255,255,0.20);
}

.technologyShow-projectContainer:last-of-type {
  border-bottom: solid #000 1px;
}

.technologyShow-projectsFeaturesContainer {
  display: block;
  justify-content: center;
}

.technologyShow-projectsFeaturesWrapper:first-child {
  margin-right: 1rem;
}

.technologyShow-projectsFeaturesWrapper {
  width: 100%;
}

.technology-packageContainer {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 1rem;
}

.technology-packageWrapper {
  position: relative;
  padding: 1rem;
  margin-right: 1rem;
  min-width: 250px;
  max-width: 250px;
  white-space: normal;
  padding-bottom: 2.2rem;
}

.technology-packageWrapper p {
  margin-bottom: 0;
}

.technology-packageWrapper img {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

@media screen and (min-width: 768px) {
  .technologyShow-projectsFeaturesContainer {
    display: flex;
  }
}
