.technologyType-container {
  min-height: 450px;
}

.feature-container {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: solid grey 1px;
  border-radius: 5px;
}

.feature-container p {
  margin: 0;
}

.feature-container b {
  float: right;
}

.feature-icon {
  width: 20px;
}

.technologyShow-projectContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.2rem 0.2rem;
  background-color: rgba(0,0,0,0.03);
  border-top: solid rgb(0, 0, 0) 1px;
}

.technologyShow-projectContainer:nth-child(odd) {
  background-color: rgba(255,255,255,0.20);
}

.technologyShow-projectContainer:last-of-type {
  border-bottom: solid #000 1px;
}
