<div class="content-inset">
  <div class="white-container feature-pageContainer">
    <h1><%= @feature.name %></h1>
    <p><%= @feature.description %></p>
    <%# Render ERB using result(binding) means that the variables/methods defined %>
    <%# Can be found in the view %>
    <% if @feature.body.present? %>
      <hr>
      <%= raw(ERB.new(@feature.body).result(binding)) %>
    <% end %>
  </div>
</div>

<% content_for :extra_js do %>
  <%= javascript_pack_tag "admin/image_select" %>
<% end %>
